---
title: 'About Touchstone Law'
description: 'Touchstone Law specializes in litigation involving real estate, backed by over three decades of expertise.'
preloadImg: '/assets/images/imagename.format'
permalink: 'about/'
eleventyNavigation:
    key: About
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
        <link rel="stylesheet" href="/css/about.css" />
{% endblock %}

{% block body %}
    <!-- Page content -->
    <section class="about">
        <div class="container hero">
            <div class="overlay"></div>
            <div class="grid hero">
                <div class="grid-item">
                    <h1>About Touchstone Law</h1>
                    <p>With 30+ years of expertise in property law, Touchstone Law specializes in real estate litigation.</p>
                </div>
            </div>
        </div>
        <div class="about container">
            <div class="grid">
                <div class="grid-item">
                    <img src="/assets/images/imagename.format" alt="David M. Touchstone">
            </div>
            <div class="grid-item">
                <h1>About David M. Touchstone</h1>
                <p>David M. Touchstone, the proud owner of Touchstone Law, has focused his practice of law on property issues for over three decades. A proud lifelong Louisianan, David received both his undergraduate and law degree from LSU. He holds a deep respect for Louisiana’s civilian legal tradition and enjoys studying its historical roots in Napoleonic France and Ancient Rome. He has served on committees of the Louisiana Law Institute, collaborating with some of our state’s greatest legal minds to draft property rights legislation. In his free time, he relishes spending time with his seven children and ten grandchildren, and watching baseball.</p>
            </div>
        </div>
    </section>
{% endblock %}
