---
title: 'Practice Areas'
description: 'Touchstone Law Firm specializes in property rights litigation and property law, serving North Louisiana.'
preloadImg: '/assets/images/practice-areas.jpg'
permalink: 'practice-areas/'
eleventyNavigation:
  key: Practice Areas
  order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/practice-areas.css" />

{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                 Hero                         -->
<!-- ============================================ -->
    
    <section class="container hero">
        <div class="overlay"></div>
        <div class="grid hero">
            <div class="grid-item">
                <h1>Our Practice Areas</h1>
                <p>Practicing in property rights litigation and property law in North Louisiana.</p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Content                      -->
    <!-- ============================================ -->
    <section class="container break">
        <div class="grid center">
            <div class="grid-item content">
                <h2>Expropriation/Appropriation</h2>
                <p>Louisiana’s constitution allows government “takings” of private property, but that doesn’t mean property owners have to take it lying down. Touchstone Law Firm is focused on this area, guiding clients through legal options and rights.</p>
            </div>
            <div class="grid-item content">
                <h2>Partitions and Quiet Title</h2>
                <p>We practice in handling partition actions and quieting title, helping our clients to properly divide real estate and solve title issues. Our understanding of these matters enables us to provide legal assistance tailored to your situation.</p>
            </div>
            <div class="grid-item content">
                <h2>Successions and Boundary Disputes</h2>
                <p>We offer legal guidance in matters of successions and boundary disputes. Whether it’s a dispute over property lines or the legal process of inheritance, we focus on providing support to meet our clients' unique needs.</p>
            </div>
            <div class="grid-item content">
                <h2>Foreclosures, Timber Piracy, and More</h2>
                <p>From foreclosures to timber piracy, contracts of sale, and legal access issues, our practice encompasses various aspects of property law. We are committed to understanding each client's circumstances and offering appropriate legal guidance.</p>
            </div>
        </div>
    </section>

    {% include "components/cta.html" %}

{% endblock %}
