---
title: 'Home'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---


{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                 Hero                         -->
<!-- ============================================ -->
    
    <section class="container hero">
        <div class="overlay"></div>
        <div class="grid hero">
            <div class="grid-item">
                <h1>Touchstone Law Firm</h1>
                <p>Serving North Louisiana with over 30 years of expertise in real estate litigation.</p>
            </div>
            <div class="grid-item">
                <a class="btn" href="#">
                    <h3>Contact Us Today</h3>
                    <p>971-921-9292</p>
                </a>
            </div>
        </div>
    </section>
    <!-- ============================================ -->
    <!--                 Content                      -->
    <!-- ============================================ -->
    <section class="container break">
        <div class="tab grid center">
            <div class="grid-item">
                <a href="/practice-areas">
                <h3>Real Estate Litigation</h3>
                <p>We handle complex real estate disputes, advocating for our clients' rights and interests.</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="/practice-areas">
                <h3>Property Rights Legislation</h3>
                <p>Our expertise extends to drafting property rights legislation, ensuring optimal legal protection.</p>
            </a>
            </div>
            <div class="grid-item">
                <a href="/practice-areas">
                <h3>Client-Centric Approach</h3>
                <p>Our clients are our top priority. We provide personalized legal guidance for each case.</p>
            </a>
            </div>
        </div>
    </section>
    <!-- ============================================ -->
    <!--                 About                        -->
    <!-- ============================================ -->
    <section class="container about">
        <div class="grid center">
            <div class="grid-item">
                <h2>About Us</h2>
                <p>Founded by David M. Touchstone, Touchstone Law Firm has been serving the people of North Louisiana for over three decades. David's deep respect for Louisiana’s civilian legal tradition and history informs our unique approach to legal practice.</p>
            </div>
            <div class="grid-item image">
                <img src="/assets/images/shreveport.webp" alt="Louisiana House">
            </div>
        </div>
    </section>
    {% include "components/cta.html" %}

{% endblock %}