---
title: 'Home'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero.webp'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---


{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                 Hero                         -->
<!-- ============================================ -->
    
    <section class="container hero">
        <div class="overlay"></div>
        <div class="grid hero">
            <div class="grid-item">
                <h1>Touchstone Law Firm</h1>
                <h2>Practicing Property Law in Shreveport & Bossier City</h2>
            </div>
            <div class="grid-item">
                <a class="btn" href="#">
                    <h3>Contact Us Today</h3>
                    <p>971-921-9292</p>
                </a>
            </div>
        </div>
    </section>
    <!-- ============================================ -->
    <!--                 Content                      -->
    <!-- ============================================ -->
    <section class="container break">
        <div class="tab grid center">
            <div class="grid-item">
                <a href="/practice-areas">
                <h3>Expropriation/Appropriation</h3>
                <p>If your property rights are being challenged, we’re here to help you understand your options.</p>
                </a>
            </div>
            <div class="grid-item">
                <a href="/practice-areas">
                <h3>Foreclosures and Boundary Disputes</h3>
                <p>We guide you through foreclosure proceedings and boundary disputes, providing legal clarity.</p>
            </a>
            </div>
            <div class="grid-item">
                <a href="/practice-areas">
                <h3>Contracts, Timber Piracy, and More</h3>
                <p>From contracts to timber piracy, our focus on property law ensures personalized and professional support.</p>
            </a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 About                        -->
    <!-- ============================================ -->
    <section class="container about">
        <div class="grid center">
            <div class="grid-item">
                <h2>About Us</h2>
                <p>Founded by David M. Touchstone, Touchstone Law Firm has been serving the people of North Louisiana for over three decades. David's deep respect for Louisiana’s civilian legal tradition and history informs our unique approach to legal practice.</p>
                <br>
                <p>With a focus on collaboration, David has served on committees of the Louisiana Law Institute, working with some of the state’s greatest legal minds to draft property rights legislation. Our firm's expertise extends across various property-related matters, including expropriation, foreclosures, boundary disputes, and more.</p>
                <br>
                <p>At Touchstone Law Firm, we believe in personalized and client-centric legal support. Whether it’s a complex real estate dispute or personalized legal guidance for timber piracy, we strive to ensure optimal legal protection for our clients. Our commitment to property law has enabled us to create a legacy of excellence and integrity in Shreveport & Bossier City.</p>
            </div>
            <div class="grid-item image">
                <img src="/assets/images/shreveport.webp" alt="Louisiana House">
            </div>
        </div>
    </section>
    {% include "components/cta.html" %}

{% endblock %}