/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

.container {
	&.break {
		background-color: var(--tertiary-color);
		height: 25vh;
	}

	&.hero {
		background-image: url(../assets/images/hero.webp);
		background-size: auto;
		background-position: center;
	}
}

.overlay {
	background-color: var(--primary-color);
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0.5;
	z-index: 0;
}

.grid {

	&.center {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		justify-items: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	&.tab {
		text-align: center;
			
		.grid-item {
			padding: 2em;
			background-color: var(--secondary-color);
			color: white;
		}
		.grid-item:hover {
			text-align: center;
			background-color: var(--primary-color);
			color: white;
		}

	}

	
}

.break .grid-item {

	box-shadow: 0 10px 10px -5px rgba(0,0,0,0.2);


    &:hover {
        background-color: var(--secondary-color);
		color: var(--tertiary-color);
    }
}

.about {
	height: 70vh;
	background-image: linear-gradient(to bottom, var(--tertiary-color), white);
}

.grid-item.image img{
	width: 100%;
	border-radius: 5px;
}

.container.about {

	.grid.center {
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
	}

	.grid-item {
		padding: 2em;
		align-items: start;
	}
}