/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

.container {
	&.break {
		background-color: var(--tertiary-color);

		.grid {
			flex-direction: column;
			height: 75vh;
		}
		
		.grid-item {
			align-items: flex-start;
			padding: 2em;
		}

	}

	&.hero {
		background-image: url(../assets/images/hero.webp);
		background-size: auto;
		background-position: center;
	}
}

.overlay {
	background-color: var(--primary-color);
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0.5;
	z-index: 0;
}
