/* Reset some browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Define some custom variables */
:root {
    --primary-color: #983628;
    --secondary-color: #1b1a18;
    --tertiary-color: #FCFCFC;
    --accent-color: #ffbb00;
    --text-color: #3B3935;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.5;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bacasime Antique', serif;
    font-weight: normal;
  }
  
  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-size: 3em;
  }
  
  h3 {
    font-size: 2em;
  }
  
  h4 {
    font-size: 1.5em;
  }
  
  h5 {
    font-size: 1.25em;
  }
  
  h6 {
    font-size: 1em;
  }
  
  p, a {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 400;
  }

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    height: 10vh;
    box-shadow: 1px 10px 10px 8px rgba(0,0,0, 0.4);
    z-index: 9999;
}

header .container {
    height: 100%;
}

header .grid {
    display: flex;
    align-items: center;
    height: 100%;
}

header .grid-item {
    flex: 1;
}

header img {
    height: 60px;
    width: auto;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: right;
    margin-left: 20px;
}

header li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

nav {
    background-color: var(--secondary-color);
    color: white;
}

main {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--tertiary-color);
    color: white;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;

}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid.hero {
    color: white;
    height: 75vh;
}

.grid-item {
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

button, .button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover, .button:hover {
    background-color: var(--secondary-color);
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.btn {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 60px;
    border: var(--secondary-color) 1px solid;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

/* Define media query for responsiveness */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    
    .grid-item {
        flex: 1 0 100%;
    }

    header li {
        float: none;
        text-align: center;
    }

    header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.875rem;
    }
}


/* Footer Styling */

footer {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 2em;
    position: relative;
    bottom: 0;
    width: 100%;

    .logo img {
        height: 50px;
        width: auto;
    }
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .container .copyright {
    font-size: 0.875rem;
    color: var(--tertiary-color);
}

footer .container .social-media {
    display: flex;
    gap: 10px;
}

footer .container .social-media a {
    color: var(--tertiary-color);
    text-decoration: none;
}

footer .container .social-media a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        text-align: center;
    }

    footer .container .copyright {
        margin-bottom: 10px;
    }
}
